.background {
    background-color: #217851;
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
}

.background2 {
    background-color: #EDB103;
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
}

.header {
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-top: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.mobile-header {
    font-weight: 500;
    font-size: 20px;
    padding-top: 250px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.mobile-intro {
    font-weight: 700;
    font-size: 34px;
    margin-top: 70px;
    color: #FFFFFF;
}

.introduction {
    font-weight: 400;
    font-size: 24px;
    margin-top: 250px;
    color: #FFFFFF;
    padding-left:80px;
}

.introduction2 {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.time-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.utc-time {
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Clash Display', sans-serif;
}

/* goal start */

.goal {
    padding-top: 50px;
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #023C22;
}

.goals {
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: #023C22;
}
.image{ 
    margin-top:125px;
    margin-left:-13px;   
}

.img {
    width: auto;
    height: auto;
    max-width: 100%;
}

/* goal end */

/* know faith start */

.impact {
    padding-top: 50px;
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.im1 {
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
}

.knowledge {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding-top:20px;
}

/* know faith end */

/* transitioning start */

.transition-text {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    padding-bottom:30px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    background-color: #EDB103;
    color: #FFFFFF;
}

.box {
    box-sizing: border-box;
    width: 262px;
    height: 183px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 3px solid #EDB103;
    border-radius: 20px;
}

.box h3 {
    margin-top: 50px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #023C22;
}
/* transitioning end */

/* help/blog end */

.help-text {
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    background-color: #EDB103;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom:50px;
}

.padding {
    padding-top: 100px;
}

.box2 {
    box-sizing: border-box;
    width: 262px;
    height: 183px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    background: #08C16F;
    border: 3px solid #EDB103;
    border-radius: 20px;
}

.box2 h3 {
    margin-top: 70px;
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.blog {
    font-weight: 500;
    font-size: 46px;
    color: #FFFFFF;
}

.blogtext {
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.box3 {
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.box3 img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

.blog-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 32.32px;
    height: 60px;
    background: #FFFFFF;
    color: #217851;
    border-radius: 30px;
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.8px;
}

.h5 {
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    text-align: left;
}

/* help/blog end */

/* footer start */

.foot-head {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.foot-head2 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    list-style: none;
}


/* footer end */






















